# exclude everything ...
*
data/sql

# ...except
!/.gitignore
!*/

!/**
!/wordpress
wordpress2
/wordpress/wp-config.php
/wordpress/wp-content/*
!/wordpress/wp-content/plugins
/wordpress/wp-content/plugins/*
!/wordpress/wp-content/plugins/askimet
!/wordpress/wp-content/plugins/wp-graph*
!/wordpress/wp-content/themes/
/wordpress/wp-content/themes/*
!/wordpress/wp-content/themes/twenty*

/var

/conf/*
!/conf/dist


/docker-compose.*.yml
!docker-compose.default.yml

.env

#
# OS specific
#
# MacOS
.DS_Store

# Windows
Thumbs.db
Thumbs.db:encryptable


#
# Editors / debuggers / other output files
#
*~
*.bak
*.orig
*.patch
*.diff
callgrind.out.*

#
# Git stuff
#
# stgit directories
patches-*
.git/
*.rej


#
# IDE & other softwares
#
/.settings/
/.externalToolBuilders/*
# exclude in all levels
nbproject/private/
.sync.ffs_db
/.vscode/

# External tool builders
.externalToolBuilders/
/node_modules
/npm-debug.*

package-lock.json
